* {
    margin: 0;
    padding: 0;
}


.Inicio {
    width: 160px;
    height: 160px;
    cursor: pointer;
    position: relative;
    margin: 55px auto;
}

body {    
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
}

.square {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    position: absolute;
    /*opacity: .9;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
}

.square1 {
    background: #222;
    z-index: 9;
    border: solid 2px #238eb3;
}

.square2 {
    background: #c73475;
    z-index: 8;
    transform: rotate(38deg);
}

.square3 {
    background: #834c92;
    z-index: 7;
    transform: rotate(31deg);
}

.square4 {
    background: #d27727;
    z-index: 6;
    transform: rotate(24deg);
}

.square5 {
    background: #e9b818;
    z-index: 5;
    transform: rotate(17deg);
}

.square6 {
    background: #b1b523;
    z-index: 4;
    transform: rotate(10deg);
}

.logo:hover ~ .square {
    transform: rotate(45deg);
}

.logo {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    color: #fff;
    padding: 52px 0;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 13px;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    font-size: 12px;
}

    .logo p:nth-child(2) {
        letter-spacing: 3px;
    }

    .logo p:last-child {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
    }
