
@{
    ViewBag.Title = "Badges";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- page content -->
<div class="page-title">
    <div class="title_left">
        <h3>Gráfico de badges</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Filtros</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Filtros
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Gráfico Donut</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="graph_donut" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" charset=\"iso-8859-1\"></script>", "~/Graficos/scripts")
<!-- morris.js -->
<script>
    $(document).ready(function () {
        Morris.Donut({
            element: 'graph_donut',
            data: [
              { label: 'Jam', value: 100 },
              { label: 'Frosted', value: 100 },
              { label: 'Custard', value: 100 },
              { label: 'Sugar', value: 100 }
            ],
            colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            formatter: function (y) {
                return y + "%";
            },
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
<!-- /morris.js -->
