
@{
    ViewBag.Title = "Permissao";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- Painel principal -->
<div class="clearfix"></div>
<div class="row">
    <div class="x_panel">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Permissão Negada</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content text-center" style="">
                <h1 class="text-danger error-number">401</h1>
                <h2 class="text-danger">Acesso não autorizado!</h2>
                <p>
                    <b>Você está tentando acessar uma área administrativa na qual não possue acesso.</b>
                </p>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>

